/target
/results
.DS_Store
examples/generated/*_300000_in.json
examples/generated/*_300000_expect.json
examples/generated/*complete*_1000_in.json
examples/generated/*complete*_1000_expect.json
examples/random/dense_10000_*
examples/random/sparse_30000_*
examples/random/sparse_100000_*
